@import (less) "../../node_modules/font-awesome/css/font-awesome.css";
@import "variables";
@import "base";
@import "buttons";


// hero ==============
.hero {
  .temporary-bg();
  position: relative;
  @media (min-width: @medium-screen) {
    height: 100vh;
    max-height: 800px;
  }
}

.book-cover-img {
  width: 100%;
  @media (min-width: @medium-screen) {
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }

  img {
    max-width: 500px;
    width: 100%;
  }
}

.hero-marketing-copy {
  color: @colour-white;
  padding: 10px;
  text-align: center;

  h1 {
    line-height: 1.2;
    font-size: 45px;
  }

  p {
    line-height: 32.4px;
    margin-bottom: @space-between;
  }

  @media (min-width: @medium-screen) {
    text-align: left;
    width: 50%;
    padding: 20px 20px 20px 40px;
    position: absolute;
    bottom: 20px;

    h1 {
      font-size: 55px;
    }
  }
}

.hero-btn-wrap {
  .btn {
    margin-bottom: 10px;
  }
  @media (min-width: @medium-screen) {
    white-space: nowrap;
  }
}

// second section
.book-paragrah:first-letter {
  float: left;
  color: @colour-gold;
  font-size: 3.3em;
  font-style: normal;
  line-height: 1em;
  padding-top: 0;
  padding-right: 12px;
  padding-left: 3px;
  font-family: "Ovo", sans-serif;
}

.main-content {
  //max-width: 1200px;
}

.teaser {
  .temporary-bg();
  > div {
    background-color: @colour-white;
    position: relative;
  }
}

.teaser-info-section {
  padding: 80px;

  > h1 {
    margin-bottom: @space-between;
  }
  .lead {
    font-style: italic;
  }
  p {
    margin-bottom: @space-between;
  }
}

.teaser-read-now {
  position: absolute;
  left: 112.5%;
  background: white;
  padding: 40px;
  width: 75%;
  top: 50%;
  text-align: center;
  transform: translate(0%, -50%);

  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}