<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="hero clearfix">
    <div class="book-cover-img">
      <img src="./book.png" alt="book cover" class="img-responsive">
    </div>
    <div class="hero-marketing-copy">
      <h1>
        Embark in the captivating adventure
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      </p>
      <div class="hero-btn-wrap">
        <a href="#" class="btn btn-default">
          $2.99 - Get the book
        </a>
        <button class="btn btn-default">
          <i class="fa fa-book" aria-hidden="true"></i>
          Read the book
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid main-content">
    <div class="row teaser">
      <div class="col-sm-6 teaser-info-section">hello</div>
      <div class="col-sm-6 teaser-read-section">hello</div>
    </div>
  </div>

</body>